<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	  <meta charset="utf-8">
	  <title>{% block title %}Baza zadań{% endblock %}</title>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="description" content="{% block meta-description %}{% endblock %}">
	  <meta name="author" content="{% block meta-author %}{% endblock %}">
	  <meta name="keywords" content="{% block meta-keywords %}{% endblock %}">
	  {% block extra-meta %}{% endblock %}
	  

	  <link rel="stylesheet" href="{{ STATIC_URL }}plugins/bootstrap/css/bootstrap.min.css">
	  <link rel="stylesheet" href="{{ STATIC_URL }}plugins/bootstrap/css/bootstrap-responsive.min.css">
	  <link rel="stylesheet" href="{{ STATIC_URL }}plugins/font-awesome/css/font-awesome.min.css" >
      <link rel="stylesheet" href="{{ STATIC_URL }}js/libs/jRating/jRating.jquery.css" media="screen" />
      <link rel="stylesheet" href="{{ STATIC_URL }}plugins/droppy/src/stylesheets/droppy.css">
	  <link rel="stylesheet" href="{{ STATIC_URL }}css/site.css" media="all">


	  {% block extra-css %}{% endblock %}
	  <script src="{{ STATIC_URL }}js/libs/modernizr-2.5.3.js"></script>
	  <!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!--[if IE 7]>
		  <link rel="stylesheet" href="{{ STATIC_URL }}plugins/font-awesome/css/font-awesome-ie7.min.css">
		<![endif]-->
</head>
<body class="{% block body_class %}page-main{% endblock %}">

	<!--[if lt IE 9]>
    <div class="container">
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>Używasz <strong>przestarzałej</strong> przeglądarki. <a href="http://browsehappy.com/">Zaktualizuj ją</a>, aby w wpełni skorzystać z możliwości tej strony.</p>
      </div>
    </div>
  <![endif]-->
	<header>
		<div class="container">
			{% block menu %}
            {% endblock %}
		</div>
	</header>
	
  <section class="container">
    {% block base_content %}{% endblock %}
  </section>
  
  <footer>
    <div class="container">
    </div>
  </footer>
  
  <script src="{{ STATIC_URL }}plugins/jquery/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}js/libs/jRating/jRating.jquery.js"></script>
  <script src="{{ STATIC_URL }}plugins/droppy/src/javascripts/jquery.droppy.js"></script>
  <script src="{{ STATIC_URL }}js/site.js"></script>
  {% block extra-js %}{% endblock %}

</body>
</html>
