{% load mptt_tags %}
{% if nodes %}
<ul>
{% recursetree nodes %}
        {% if node.is_leaf_node %}
            <li>
            <span>
                <a href="{% url "list_sub_categories" node.pk %}">{{node.nazwa}}</a>
            </span>
            </li>
        {% else %}
            <li>
                <span><a href="{% url "list_sub_categories" node.pk %}">{{node.nazwa}}</a></span>
                <ul>
                    {{ children }}
                </ul>
            </li>
        {% endif %}
{% endrecursetree %}
</ul>
{% endif %}
