{% extends 'base.html' %}
{% load i18n %}
{% load listMainCategories %}
{% block extra-css %}
{% endblock %}

{% block extra-js %}
{% endblock %}


{% block base_content %}

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="{% url "list_main_categories" %}">Kategorie</a>
        {% listMainCategories request %}
  </div>
</div>


    <div class="container">
    <h3>Edycja Kategorii</h3>
    <hr>
    <div class="row-fluid">
    <div class="span3">
        {% listMainCategoriesUl request %}
    </div>
    <div class="span6">
        <form action="#" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-default" onClick="$('form').submit();">
                                        {% trans "Save" %}
        </button>
        </form>
    </div>
    </div>
    </div>
{% endblock %}

