{% extends 'base.html' %}
{% load i18n %}
{% load listMainCategories %}
{% block extra-css %}
{% endblock %}

{% block extra-js %}
<script type="text/javascript">
$(document).ready(function(){

      $("#vote").jRating({
            step:true,
            length : 20, // nb of stars
            onClick : function(element,rate) {
                $('#id_trudnosc').val(rate);
            }
       });

});
</script>
{% endblock %}


{% block base_content %}

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="{% url "list_main_categories" %}">Kategorie</a>
        {% listMainCategories request %}
  </div>
</div>


    <div class="container">
    <h3>Formularz edycji zadania do kategorii</h3>
    <hr>
    <div class="col-lg-6">
        <form action="#" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="vote" data-average="20" data-id="1"></div>
        <br>
        <button class="btn btn-default" onClick="$('#task').submit();">
                                        {% trans "Save" %}
        </button>
        </form>
    </div>

    </div>
{% endblock %}

