{% extends 'base.html' %}
{% load i18n %}
{% load listMainCategories %}
{% block extra-css %}
{% endblock %}

{% block extra-js %}
    <script type="text/javascript">
$(document).ready(function(){

      $("#vote").jRating({
            step:true,
            length : 20, // nb of stars
            onClick : function(element,rate) {
                $('#id_task-trudnosc').val(rate);
            }
       });

});
</script>
{% endblock %}


{% block base_content %}

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="{% url "list_main_categories" %}">Kategorie</a>
        {% listMainCategories request %}
  </div>
</div>


    <div class="container">
    {% if request.user.is_authenticated  %}
    <hr>
    <div class="row">
    <div class="span6">
        <h4>Formularz dodania kategorii</h4>
        <form action="{% url "list_main_categories" %}" method="post" id="category">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button class="btn btn-default" onClick="$('#category').submit();">
                                        {% trans "Save" %}
        </button>
        </form>
    </div>

    <div class="span6">
        <h4>Formularz dodania zadania do kategorii</h4>
        <form action="{% url "list_main_categories" %}" method="post" id="task" enctype="multipart/form-data">
        {% csrf_token %}
        {{ taskForm.as_p }}
        <div id="vote" data-average="20" data-id="1"></div>
        <br>
        <button class="btn btn-default" onClick="$('#task').submit();">
                                        {% trans "Save" %}
        </button>
        </form>
    </div>
    </div>
    {% endif %}

    <hr>

    <div class="accordion well well-small" id="accordion2">

            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse"
                   data-parent="#accordion2" href="#collapseOne">Kategorie</a>
                <div id="collapseOne" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="tree well">
                        {% categories request %}
                    </div>
                </div>
                </div>
            </div>
    </div>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Nad Kategoria</th>
            <th>Edycja</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{% url "list_sub_categories" category.pk %}">{{ category.nazwa }}</a></td>
                <td>{{ category.parent|default_if_none:"Brak" }}</td>
                <td>
                    <a href="{% url "edit_category" category.pk %}"><span class="icon-edit"> </span> edycja</a>
                    <br>
                    <a href="{% url "delete_category" category.pk %}"><span class="icon-remove"> </span> usuń</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br>

    <div class="well well-small">
        Zadania
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Nad Kategoria</th>
                <th>Trudnosc</th>
                <th>Plik</th>
                <th>Edycja</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td><a href="{{ task.plik_pdf.url }}">{{ task.nazwa }}</a></td>
                <td>{{ task.id_kat|default_if_none:"Brak" }}</td>
                <td>{{ task.trudnosc|default_if_none:"Brak" }}/20</td>
                <td><a href="{{ task.plik_pdf.url }}"><span class="icon-edit"> </span> Plik</a></td>
                <td>
                    <a href="{% url "edit_task" task.pk %}"><span class="icon-edit"> </span> edycja</a><br>
                    <a href="{% url "delete_task" task.pk %}"><span class="icon-remove"> </span> usuń</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    </div>
{% endblock %}

