{% load mptt_tags %}
<ul id="nav">
{% if nodes %}
{% recursetree nodes %}
        {% if node.is_leaf_node %}
            <li>
                <a href="{% url "list_sub_categories" node.pk %}">{{node.nazwa}}</a>
            </li>
        {% else %}
            <li>
                <a href="{% url "list_sub_categories" node.pk %}">{{node.nazwa}}</a>
                <ul>
                    {{ children }}
                </ul>
            </li>
        {% endif %}
{% endrecursetree %}

{% else %}
    {% if request.user.is_authenticated  %}
        <li><a href="#category">Brak kategorii, dodaj nową</a></li>
    {% else %}
        <li><a href="{% url "login_user" %}">Brak kategorii, zaloguj się by móc dodać nową</a></li>
    {% endif %}
{% endif%}
    {% if request.user.is_authenticated  %}
        <li class="pull-right"><a href="{% url "logout_user" %}">Wyloguj - {{ request.user }}</a></li>
    {% else %}
        <li class="pull-right"><a href="{% url "login_user" %}">Zaloguj</a></li>
    {% endif %}
</ul>