<ul class="nav nav-list bs-docs-sidenav affix-top">
{% if main_categories %}
    {% for link in main_categories %}
    <li><a href="{% url "list_sub_categories" link.pk %}"><i class="icon-chevron-right"></i> {{link}}</a></li>
    {% endfor %}
{% else %}
    {% if request.user.is_authenticated  %}
        <li><a href="#category">Brak kategorii, dodaj nową</a></li>
    {% else %}
        <li><a href="{% url "login_user" %}">Brak kategorii, zaloguj się by móc dodać nową</a></li>
    {% endif %}
{% endif%}
    {% if request.user.is_authenticated  %}
        <li class=""><a href="{% url "logout_user" %}">Wyloguj - {{ request.user }}</a></li>
    {% else %}
        <li class=""><a href="{% url "login_user" %}">Zaloguj</a></li>
    {% endif %}
</ul>