{% extends 'base.html' %}
{% load i18n %}
{% load listMainCategories %}

{% block base_content  %}


    <hr>
        <div class="row">
        <div class="span4 offset4 none-margin">

            <div class="login-box">
                <h3>Logowanie</h3>

                <form action="" method="post" class="form-horizontal" role="form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <input type="submit" class="btn btn-default pull-right" id="login"
                           value="Zaloguj"/>
                </form>

            </div>
        </div>
        </div>
    <hr>

    {% if imgs %}
        <a href="/">
        <div id="myCarousel" class="carousel slide">
          <ol class="carousel-indicators">
            {% for img in imgs %}
                <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }} {% if forloop.counter0 == 0 %}active{% endif %}"></li>
            {% endfor %}
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            {% for img in imgs %}
                <div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
                    <div class="text-center"><img src="{{ img.plik_pdf.url }}"></div>
                    <div class="carousel-caption">
                      <h4>Kategoria{{ img.id_kat }} / Trudność {{ img.trudnosc }}/20</h4>
                      <p>Nazwa: {{ img.nazwa }}</p>
                    </div>
                </div>
            {% endfor %}
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
        </a>
    {% endif %}

    <hr>
    <div class="accordion well well-small" id="accordion2">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse"
                       data-parent="#accordion2" href="#collapseOne">Kategorie</a>
                    <div id="collapseOne" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <div class="alert-success">
                            <div class="tree well">
                                {% categories request %}
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
    </div>
{% endblock %}